<figure>
    
    <div>
        <figcaption>
            <h4>GATHER</h4>
            calling out to each other by name, gather here for our meeting times.
        </figcaption>
        <figcaption>
            <h4>PRAY</h4>
            calling out to God by name, gather here for our meeting times.</figcaption>
        <figcaption>
            <h4>READ</h4>
            calling out the Scriptures to make these gatherings more and more love filled meeting times.</figcaption>
    </div>
</figure>