<footer class="px-8 pt-24 pb-8 bg-gray-900">
  <div class="container max-w-6xl flex flex-col mx-auto">
    <div class="grid grid-cols-1 lg:grid-cols-3 w-full">
      <div class=" page-links flex col-span-2 items-start gap-10 mb-10 lg:mb-0 md:gap-20">
        <ul>
          <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-gray-200 mb-4">Synagogue.Church</h6>
          <li><a href="#" class="block antialiased font-sans text-base leading-relaxed text-inherit py-1 font-normal !text-gray-700 transition-colors hover:!text-gray-900">About Us</a></li>
          <li><a href="#" class="block antialiased font-sans text-base leading-relaxed text-inherit py-1 font-normal !text-gray-700 transition-colors hover:!text-gray-900">Careers</a></li>
          <li><a href="#" class="block antialiased font-sans text-base leading-relaxed text-inherit py-1 font-normal !text-gray-700 transition-colors hover:!text-gray-900">Premium Tools</a></li>
          <li><a href="#" class="block antialiased font-sans text-base leading-relaxed text-inherit py-1 font-normal !text-gray-700 transition-colors hover:!text-gray-900">Blog</a></li>
        </ul>
        <ul>
          <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-blue-gray-100 mb-4">Pages</h6>
          <li><a href="#" class="block antialiased font-sans text-base leading-relaxed text-inherit py-1 font-normal !text-gray-700 transition-colors hover:!text-gray-900">Login</a></li>
          <li><a href="#" class="block antialiased font-sans text-base leading-relaxed text-inherit py-1 font-normal !text-gray-700 transition-colors hover:!text-gray-900">Register</a></li>
          <li><a href="#" class="block antialiased font-sans text-base leading-relaxed text-inherit py-1 font-normal !text-gray-700 transition-colors hover:!text-gray-900">Add List</a></li>
          <li><a href="#" class="block antialiased font-sans text-base leading-relaxed text-inherit py-1 font-normal !text-gray-700 transition-colors hover:!text-gray-900">Contact</a></li>
        </ul>
        <ul>
          <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-blue-gray-100 mb-4">Legal</h6>
          <li><a href="#" class="block antialiased font-sans text-base leading-relaxed text-inherit py-1 font-normal !text-gray-700 transition-colors hover:!text-gray-900">Terms</a></li>
          <li><a href="#" class="block antialiased font-sans text-base leading-relaxed text-inherit py-1 font-normal !text-gray-700 transition-colors hover:!text-gray-900">Privacy</a></li>
          <li><a href="#" class="block antialiased font-sans text-base leading-relaxed text-inherit py-1 font-normal !text-gray-700 transition-colors hover:!text-gray-900">Team</a></li>
          <li><a href="#" class="block antialiased font-sans text-base leading-relaxed text-inherit py-1 font-normal !text-gray-700 transition-colors hover:!text-gray-900">About Us</a></li>
        </ul>
      </div>
        <div class="subscribe-form lg:justify-self-end lg:ml-auto">
        <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-white mb-3 text-left">Subscribe</h6>
        <p class="block antialiased font-sans text-gray-400 font-normal mb-4 text-base">Get access to subscriber exclusive deals and be the first who gets informed about fresh sales.</p>
        <p class="block antialiased font-sans text-sm leading-normal font-medium mb-2 text-left">Your Email</p>
        <div class="flex mb-3 flex-col lg:flex-row items-start gap-4">
          <div class="w-full">
            <div class="relative w-full min-w-[200px] h-10">
              <input class="peer w-full h-full bg-gray-800 text-white font-sans font-normal outline-none border border-gray-700 focus:border-2 focus:border-white transition-all text-sm px-3 py-2.5 rounded-[7px] placeholder-gray-400" placeholder="Email">
            </div>
            <p class="block antialiased font-sans text-sm font-medium mt-3 text-gray-400 text-left">I agree to the <a href="#" class="font-bold underline hover:text-white transition-colors">Terms and Conditions</a></p>
          </div>
          <button class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-white text-gray-900 shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none w-full lg:w-fit" type="button">Subscribe</button>
        </div>
      </div>
    </div>
    <p class="block antialiased font-sans text-base leading-relaxed text-blue-gray-900 md:text-center mt-16 font-normal !text-gray-700">© {{ "now" | date("yyyy") }} </p>
  </div>
</footer>
