{% for item in mainThree %}
	{% if loop.index0 % 2 == 0 %}
		{% set side = 'left' %}
	{% else %}
		{% set side = 'right' %}
	{% endif %}
	<section class="{{ item.color }} py-16">
		<div class="container mx-auto">
			<h2 class="text-8xl font-extrabold mb-8 uppercase {{ item.color | replace('bg-', 'text-') }}">{{ item.name }}</h2>
			{% include "top-card.njk" %}
		</div>
	</section>
{% endfor %}
