{% for item in mainThree %}
	{# {% if loop.index0 % 2 == 0 %}
		{% set side = 'left' %}
	{% else %}
		{% set side = 'right' %}
	{% endif %} #}
	<section class="bg-{{ item.color }}-500 py-12 {{ item.name }}" id="{{ item.name | slugify }}">
		<div class="container mx-auto px-4">
			<h2 class="text-8xl font-extrabold mb-6 lowercase text-left">{{ item.name }}</h2>
			{% include "top-card.njk" %}
		</div>
	</section>
{% endfor %}
