{% for item in mainThree %}
	{# {% if loop.index0 % 2 == 0 %}
		{% set side = 'left' %}
	{% else %}
		{% set side = 'right' %}
	{% endif %} #}
	<section class="bg-{{ item.color }}-500 py-12 {{ item.name }}" id="{{ item.name | slugify }}">
		<div class="container px-4">
			<h2 class="text-8xl font-extrabold mb-6 lowercase text-left">{{ item.name }}</h2>
		</div>
		<div class="w-full">
			<!-- PARENT: LEFT INCLUDE START -->
			{% include "main-three/main-three-left-image.njk" %}
			<!-- PARENT: LEFT INCLUDE END -->
		</div>
		<div class="w-full px-4">
			<!-- PARENT: RIGHT INCLUDE START -->
			{% include "main-image-page-section.njk" %}
			<!-- PARENT: RIGHT INCLUDE END -->
		</div>
		{# {% include "top-card.njk" %} #}
			{# below is the focus include based on item.focusContent #}
			{% if item.focusContent %}
			<div class="focus-content pt-8 max-w-4xl mx-auto">
				<hr class="border-{{item.textColor}} border-8 mb-6">
				{% include item.focusContent %}
			</div>
			{% endif %}
	</section>
{% endfor %}
