<section class="py-8 public-reading-short">
    <span class="pl-8 py-2 font-black lowercase text-2xl">public reading </span>
    <h2 class="text-4xl font-extralight pl-8 mb-8 mt-1">This Week's Reading ({{ nextReading.date }}):</h2>

{% include "public-reading/this-week-short.njk" %}
{% include "public-reading/upcoming-readings-short.njk" %}
</section>