<section class="p-8 public-reading-short">
    <span class="pl-8 py-2 font-black lowercase text-4xl">public reading </span>
    <a href="/public-reading/{{ nextReading.slug }}/" aria-label="Open this week's reading for {{ nextReading.date }}"><h2 class="text-2xl font-extralight pl-8 mb-8 mt-1">This Week's Reading <br><span class=" text-6xl font-extralight inline-block pt-2">{{ nextReading.date }}</span></h2></a>

{% include "public-reading/this-week-short.njk" %}
{% include "public-reading/upcoming-readings-short.njk" %}
</section>