{# a link to public reading #}

<h4 class="font-light text-xl mb-4">Take me to the weekly reading! </h4>
<a href="#public-reading-short" class="bg-yellow-300 text-black font-bold px-4 py-1 rounded-full border-2 border-black text-xl shadow">Weekly Reading!</a>

