---
title: Home
---
<link rel="stylesheet" href="{{ '/assets/styles.generated.css' | url }}">
<h1>Welcome to Synagogue.Church</h1>
<h2>coming soon friends</h2>
<p>This site is built with Eleventy and Nunjucks.</p>
<a href="/publicreading/">View Public Reading Schedule</a>