---
layout: layout.njk
title: Home
---

{% include "hero.njk" %}

            
   

<main class="max-w-5xl mx-auto px-4 py-8">
  {% include "main-three-links.njk" %}
  <h2 class="text-2xl font-bold mb-4">Welcome to Synagogue.Church</h2>
  <p class="mb-6">This is your new Eleventy + Tailwind CSS site, ready for content and customization.</p>
  <a href="/publicreading/">View Public Reading Schedule</a>
</main>